<section class="container-fluid">
  <div class="header d-flex align-items-center">
    <h4 class="text-grey-dark m-0">Certificate Management</h4>
    <div class="ml-auto">
      <button mat-stroked-button color="warn" (click)="openFilters()">Add Filters</button>
      <a class="btn btn-primary ml-3" routerLink="edit" [queryParams]="{type: 'new'}">
        <i class="fas fa-plus mr-2"></i>Generate Certificate</a>
    </div>
  </div>
  <div class="content mt-4">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('can_modify')" routerLinkActive #new="routerLinkActive" [active]="new.isActive">
        <strong>New</strong>
      </a>
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('is_valid')" routerLinkActive #issued="routerLinkActive" [active]="issued.isActive">
        <strong>Issued</strong>
      </a>
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('renewable')" routerLinkActive #expiring="routerLinkActive"
        [active]="expiring.isActive">
        <strong>Expiring soon</strong>
      </a>
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('expired')" routerLinkActive #expired="routerLinkActive" [active]="expired.isActive">
        <strong>Expired</strong>
      </a>
    </nav>
    <certificate-table></certificate-table>
  </div>
</section>