<div class="container-fluid mt-3">
  <h5 class="text-center border-bottom mb-3 pb-2">Shipping Details</h5>
  <form [formGroup]="closeForm">
    <mat-form-field class="w-100">
      <input matInput placeholder="Tracking Number" formControlName="tracking_no">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput [matDatepicker]="picker" placeholder="Shipping date" formControlName="shipping_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="w-100">
          <input type="number" matInput placeholder="Amount" formControlName="shipping_amt">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="w-100">
          <input type="number" matInput placeholder="GST" formControlName="shipping_gst">
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="w-100">
      <input disabled type="number" matInput placeholder="Total amount" [value]="total">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="GSTN" maxlength="15" formControlName="shipping_gstn">
      <mat-hint align="end">{{shipping_gstn.value ? shipping_gstn.value.length : 0}} / 15</mat-hint>
    </mat-form-field>
  </form>
  <div class="text-center mb-3">
    <button mat-stroked-button color="warn" (click)="closePO()" [disabled]="closeForm.invalid">Confirm shipment</button>
    <button class="ml-1" mat-button (click)="close()">Close</button>
  </div>
</div>