<form class="m-3" [formGroup]="filterForm">
  <h5 class="text-center border-bottom mb-3 pb-2">Choose preferred settings</h5>
  <mat-form-field class="w-100">
    <input matInput [max]="startMax" [matDatepicker]="start" placeholder="START DATE" formControlName="start">
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput [min]="endMin" [max]="endMax" [matDatepicker]="end" placeholder="END DATE" formControlName="end">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end></mat-datepicker>
  </mat-form-field>
  <ng-select id="transactable_type" [items]="transactables" bindLabel="display" bindValue="value" formControlName="transactable_type"
    placeholder="Select transactable type"></ng-select>
  <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
  <div class="text-right">
    <button mat-button color="warn" (click)="closeSheet()" [disabled]="filterForm.invalid || filterForm.pristine">Apply Filter</button>
  </div>
</form>