<section class="d-flex flex-column flex-fill justify-content-center align-items-center hv-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../assets/images/lorax_dribbble.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div>
          <p class="m-0 display-1 text-primary">403</p>
          <h1 class="text-dark font-weight-bold">SORRY!</h1>
          <h5 class="text-muted mb-3">You don't have access to this page</h5>
          <a routerLink="/dashboard" mat-raised-button color="warn"><strong>GO TO DASHBOARD</strong></a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="m-0"><i class="fas fa-copyright mr-2"></i>{{year}} Gemeni India | All Rights Reserved</p>
      <p class="m-0">Powered by Amberzile</p>
    </div>
  </div>
</section>