<section class="container">
  <div class="d-flex align-items-center justify-content-between">
    <a (click)="_location.back()" class="btn btn-primary text-light">
      <i class="fas fa-arrow-left mr-2"></i>Go back</a>
    <h4 class="text-grey-dark m-0">{{addCertificate ? 'Generate certificate' : 'Edit certificate'}}</h4>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-10">
      <form [formGroup]="certificateForm" autocomplete="off">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="text-grey-dark font-weight-bold mb-3">Device details</h5>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field class="w-100">
                  <input placeholder="Enter SLD number" matInput (keyup)="fetchDevices($event)" [matAutocomplete]="sldAuto">
                  <mat-autocomplete #sldAuto="matAutocomplete" (optionSelected)="optionSelected($event, 'device_id')" [displayWith]="displayDevice">
                    <mat-option *ngFor="let device of devices" [value]="device">
                      {{device.sld_number}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <ng-container *ngIf="device_id.valid">
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input type="number" matInput placeholder="Invoice Number" formControlName="invoice_no">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input type="number" matInput placeholder="Cut-off Speed" formControlName="cutoff_speed">
                    <mat-hint>40kmph - 120kmph</mat-hint>
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngIf="device_id.valid">
          <div class="card mt-5">
            <div class="card-body">
              <h5 class="text-grey-dark font-weight-bold mb-3">Customer information</h5>
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Full Name" formControlName="customer_name">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <span matPrefix>+91 &nbsp;</span>
                    <input matInput maxlength="10" placeholder="Phone" formControlName="customer_telephone">
                    <mat-hint align="end">{{customer_telephone.value.length}} / 10</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Address Line 1" formControlName="address_l1">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Address Line 2" formControlName="address_l2">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Locality" formControlName="locality">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="City" formControlName="city">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput maxlength="6" placeholder="Pincode" formControlName="pincode">
                    <mat-hint align="end">{{pincode.value.length}} / 6</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <hr>
              <h5 class="text-grey-dark font-weight-bold mb-3">Vehicle information</h5>
              <div class="row">
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input placeholder="Select Vehicle Make" matInput [matAutocomplete]="makeAuto">
                    <mat-autocomplete #makeAuto="matAutocomplete" (optionSelected)="optionSelected($event, 'vehicle_make')">
                      <mat-option *ngFor="let brand of brands" [value]="brand">
                        {{brand}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input placeholder="Select Vehicle Model" [disabled]="vehicle_make.invalid" id="model" matInput [matAutocomplete]="modelAuto">
                    <mat-autocomplete #modelAuto="matAutocomplete" (optionSelected)="optionSelected($event, 'vehicle_id')" [displayWith]="displayFn">
                      <mat-option *ngFor="let model of getModels()" [value]="model">
                        {{model.model}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Seal No. / No. of Seals" formControlName="seals">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Engine No." formControlName="engine_number">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Chassis No." formControlName="chassis_number">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Car Registration No." formControlName="car_reg_number">
                    <mat-hint>AA 00 A 0000</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <hr>
              <h5 class="text-grey-dark font-weight-bold mb-3">RTO details</h5>
              <div class="row">
                <div class="col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Select RTO" formControlName="location_rto">
                      <mat-option *ngFor="let office of rto" [value]="office.getFullName()">{{office.getFullName()}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 datepicker">
                  <month-picker label="MFG month & year" [min]="monthMin" [max]="monthMax" formControlName="mfg_month_year"></month-picker>
                </div>
                <div class="col-lg-4 datepicker">
                  <month-picker label="REG month & year" [min]="monthMin" [max]="monthMax" formControlName="reg_month_year"></month-picker>
                </div>
              </div>
              <button class="btn btn-primary btn-save" [disabled]="certificateForm.invalid || certificateForm.pristine" (click)="saveChanges()">Save</button>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</section>