<section class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 login-container">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-warning">Engine</h2>
              <h4 class="h4 text-muted">Sign in your account here</h4>
            </div>
            <form class="mt-4 p-2">
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email or username" aria-label="Email or username" aria-describedby="username">
                <div class="input-group-append">
                  <span class="input-group-text" id="username">
                    <i class="fas fa-user-shield fa-fw"></i>
                  </span>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password">
                <div class="input-group-append">
                  <span class="input-group-text" id="password">
                    <i class="fas fa-lock fa-fw"></i>
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100 p-3 font-weight-bold">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
