section {
  background-image: url('../../assets/images/bg_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  .login-container {
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }
}