<div class="table-container">
  <div class="table-responsive">
    <table class="table table-sm table-hover w-100 rounded table-striped text-center m-0">
      <thead>
        <tr>
          <th>#</th>
          <th>SR. No</th>
          <th>IMEI</th>
          <th>ESIM 1</th>
          <th>ESIM 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices; let i = index">
          <td>{{(i + 1) + ((pageEvent.pageIndex + 1) * pageEvent.pageSize) - pageEvent.pageSize}}</td>
          <td><a routerLink="view" class="text-danger" [queryParams]="{id: device.id}">{{device.serial_no}}</a></td>
          <td>{{device.imei}}</td>
          <td>{{device.esim1}}</td>
          <td>{{device.esim2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0"
    *ngIf="devices.length == 0 && !loading">
    <strong>No devices found!</strong>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light" *ngIf="loading">
    <strong>Loading...</strong>
  </div>
  <mat-paginator [showFirstLastButtons]="true" [length]="pageEvent.length" [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPage($event)"></mat-paginator>
</div>
