<section class="container">
  <div class="header d-flex align-items-center">
    <h4 class="text-grey-dark m-0">Incomes List</h4>
    <div class="ml-auto">
      <button mat-stroked-button color="warn" (click)="openFilters()" disabled>Add Filters</button>
      <a class="btn btn-orange text-light ml-3" routerLink="edit" [queryParams]="{type: 'new'}">
        <i class="fas fa-hand-holding-usd mr-2"></i>Record an Income</a>
    </div>
  </div>
  <div class="content mt-4">
    <nav mat-tab-nav-bar color="warn">
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('direct')" routerLinkActive #direct="routerLinkActive" [active]="direct.isActive">
        <strong>Direct</strong>
      </a>
      <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('indirect')" routerLinkActive #indirect="routerLinkActive" [active]="indirect.isActive">
        <strong>Indirect</strong>
      </a>
    </nav>
    <income-table></income-table>
  </div>
</section>