<section class="container">
  <div class="d-flex align-items-center justify-content-between">
    <button (click)="_location.back()" class="btn btn-primary text-light">
      <i class="fas fa-arrow-left mr-2"></i>Go back</button>
    <h4 class="text-grey-dark m-0">Salary slip details</h4>
  </div>

  <div class="d-flex justify-content-end mt-3">

    <ng-container *ngIf="loggedUser.role == 'human_resource' && salarySlip.status == 'can_modify'">
      <a mat-stroked-button color="primary" routerLink="../edit" [queryParams]="{id: salarySlip.id}">Edit</a>
      <button class="ml-2" mat-stroked-button color="warn" (click)="openSalarySlip()">Open</button>
      <button class="ml-2" mat-stroked-button color="warn" (click)="deleteSalarySlip()">Delete</button>
    </ng-container>

    <ng-container *ngIf="loggedUser.role == 'accounts' && salarySlip.status == 'confirmed'">
      <button class="mr-2" mat-stroked-button color="warn" (click)="confirmSalarySlip()">Confirm</button>
    </ng-container>

  </div>


  <div class="row justify-content-center mt-4">
    <div class="col-lg-4">
      <div class="card" id="print">
        <div class="card-body">
          <h6 class="text-grey-dark font-weight-bold mb-3">
            <i class="fas fa-info-circle mr-2 fa-fw text-primary"></i>Salary slip details</h6>
          <h6 class="text-grey-dark">Serial Number:</h6>
          <h6 class="ml-3">{{salarySlip.serial_no}}</h6>
          <h6 class="text-grey-dark">Status:</h6>
          <h6 class="ml-3">{{salarySlip.status ? 'Awaiting confirmation' : (salarySlip.status | titlecase)}}</h6>
          <h6 class="text-grey-dark">Issued On:</h6>
          <h6 class="ml-3">{{salarySlip.created_at | date: 'fullDate'}}</h6>
          <h6 class="text-grey-dark">Paid On:</h6>
          <h6 class="ml-3">{{salarySlip.paid_date ? (salarySlip.paid_date | date: 'fullDate') : '-'}}</h6>
          <h6 class="text-grey-dark">Leave Days:</h6>
          <h6 class="ml-3">{{salarySlip.leave_days}} days</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h6 class="text-grey-dark font-weight-bold mb-3">
            <i class="fas fa-info-circle mr-2 fa-fw text-primary"></i>Employee details</h6>
          <h6 class="text-grey-dark">Name:</h6>
          <h6 class="ml-3">{{salarySlip.employee.name}}</h6>
          <h6 class="text-grey-dark">Amount:</h6>
          <h6 class="ml-3">{{salarySlip.amount | currency: 'INR'}}</h6>
        </div>
      </div>
    </div>
  </div>
</section>