<section class="container">
  <div class="header d-flex align-items-center">
    <h4 class="text-grey-dark m-0">Vehicle List</h4>
    <div class="ml-auto">
      <a class="btn btn-orange text-light" routerLink="edit" [queryParams]="{type: 'new'}">
        <i class="fas fa-desktop mr-2"></i>Add Vehicles</a>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="searchForm" autocomplete="off">
          <mat-form-field color="warn" class="w-100">
            <input matInput placeholder="Search vehicles..." formControlName="search">
            <mat-icon color="warn" matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class="content mt-3">
    <vehicle-table></vehicle-table>
  </div>
</section>