<section class="container">
  <div class="top-header row">
    <div class="col-sm-12 col-lg-6">
      <h4 class="text-grey-dark m-0">Vehicle List</h4>
    </div>
    <div class="col-sm-12 col-lg-6 controls">
      <a class="btn btn-orange text-light" routerLink="edit" [queryParams]="{type: 'new'}">
        <i class="fas fa-desktop mr-2"></i>Add Vehicles</a>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="searchForm" autocomplete="off">
          <mat-form-field color="warn" class="w-100">
            <input matInput #search placeholder="Search vehicles..." formControlName="search">
            <mat-icon color="warn" matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <hr class="mb-0">
  <vehicle-table></vehicle-table>
</section>