<section class="container">
  <div class="d-flex align-items-center justify-content-between">
    <button (click)="_location.back()" class="btn btn-primary text-light">
      <i class="fas fa-arrow-left mr-2"></i>Go back</button>
    <h4 class="text-grey-dark m-0">Transaction details</h4>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-sm-12 col-md-6 col-xl-4 mt-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="top">
            <h6 class="text-grey-dark font-weight-bold mb-3">
              <i class="fas fa-info-circle mr-2 fa-fw text-primary"></i>General information</h6>
            <h6 class="text-grey-dark">Serial No:</h6>
            <h6 class="ml-3">{{transaction.transactable.serial_no}}</h6>
            <h6 class="text-grey-dark">Created on:</h6>
            <h6 class="ml-3">{{transaction.created_at | date: 'fullDate'}}</h6>
            <h6 class="text-grey-dark">Sub category:</h6>
            <h6 class="ml-3">{{transaction.sub_category | titlecase}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mt-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="top">
            <h6 class="text-grey-dark font-weight-bold mb-3">
              <i class="fas fa-info-circle mr-2 fa-fw text-primary"></i>Amount information</h6>
            <h6 class="text-grey-dark">Amount:</h6>
            <h6 class="ml-3">{{transaction.amount | currency: 'INR'}}</h6>
            <h6 class="text-grey-dark">GST:</h6>
            <h6 class="ml-3">{{transaction.gst ? transaction.gst : '0'}}%</h6>
            <h6 class="text-grey-dark">GST amount:</h6>
            <h6 class="ml-3">{{transaction.gst ? (transaction.gstAmount() | currency: 'INR') : '0'}}</h6>
            <h6 class="text-grey-dark">Total:</h6>
            <h6 class="ml-3">{{transaction.total() | currency: 'INR'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>