<div class="table-container">
  <table class="table table-hover w-100 rounded table-striped text-center m-0">
    <thead>
      <tr>
        <th>#</th>
        <th>SERIAL NO</th>
        <th>EMPLOYEE</th>
        <th>ISSUED ON</th>
        <th>PAID ON</th>
        <th>BONUS</th>
        <th>LEAVES</th>
        <th>AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slip of salarySlips; let i = index">
        <td>{{(i + 1) + ((pageEvent.pageIndex + 1) * pageEvent.pageSize) - pageEvent.pageSize}}</td>
        <td>
          <a routerLink="view" class="text-danger" [queryParams]="{id: slip.id}">
            {{slip.serial_no}}
          </a>
        </td>
        <td>{{slip.employee.name}}</td>
        <td>{{slip.created_at | date: 'mediumDate'}}</td>
        <td>{{slip.paid_date ? (slip.paid_date | date: 'mediumDate') : '-'}}</td>
        <td>{{slip.bonus ? (slip.bonus | currency: 'INR') : '-'}}</td>
        <td>{{slip.leave_days}} days</td>
        <td>{{slip.amount ? (slip.amount | currency: 'INR') : '-'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0" *ngIf="salarySlips.length == 0 && !loading">
    <strong>No salary slips found!</strong>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0" *ngIf="loading">
    <strong>Loading...</strong>
  </div>
  <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="getPage($event)"></mat-paginator>
</div>