<div class="table-container">
  <div class="table-responsive">
    <table class="table table-sm table-hover w-100 rounded table-striped text-center m-0">
      <thead>
        <tr>
          <th>#</th>
          <th>SERIAL NO</th>
          <th>CREATED ON</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; let i = index">
          <td>{{(i + 1) + ((pageEvent.pageIndex + 1) * pageEvent.pageSize) - pageEvent.pageSize}}</td>
          <td>
            <a routerLink="view" class="text-danger" [queryParams]="{id: expense.id}">
              {{expense.serial_no}}
            </a>
          </td>
          <td>{{expense.created_at | date: "mediumDate"}}</td>
          <td>{{expense.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0" *ngIf="expenses.length == 0 && !loading">
    <strong>No expenses found!</strong>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light" *ngIf="loading">
    <strong>Loading...</strong>
  </div>
  <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPage($event)"></mat-paginator>
</div>