$white-dark: #F0F0F0;
section {
  background-color: $white-dark;
  .menu {
    width: 220px;
  }
  .main {
    flex: 1;
    height: 100vh;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  section {
    .main {
      padding: 3rem .5rem !important
    }
  }
}