<section class="d-flex flex-column justify-content-between h-100">
  <div>
    <div class="logo p-3 text-center">
      <h5 class="text-orange font-weight-bold">TEDI INDIA</h5>
      <img src="../../../assets/images/user.png" alt="User" class="img-fluid w-50">
      <h6 class="font-weight-bold mt-2 mb-0">{{loggedUser.name | titlecase}}</h6>
      <p class="text-muted mb-1">{{loggedUser.role == 'rto' ? 'RTO' : (loggedUser.getRole() | titlecase)}}</p>
      <button (click)="signOut()" mat-stroked-button color="warn">Log Out</button>
    </div>
    <ul class="menu p-0">
      <li *ngFor="let route of routes">
        <a class="d-flex" [routerLink]="route.path" routerLinkActive="active">
          <div class="line mr-1"></div>
          <h6 class="m-0 text-dark">
            <i class="fas fa-fw animate" [ngClass]="route.icontype"></i>{{route.title}}</h6>
        </a>
      </li>
    </ul>
  </div>
</section>