<section class="d-flex flex-column justify-content-between h-100">
  <div>
    <div class="logo p-3 text-center">
      <h4 class="text-orange font-weight-bold">GEMENI INDIA</h4>
      <img src="../../../assets/images/user.png" alt="User" class="img-fluid w-50">
      <h5 class="font-weight-bold mt-2 mb-0">{{loggedUser.name | titlecase}}</h5>
      <p class="text-muted">{{loggedUser.getRole() | titlecase}}</p>
    </div>
    <ul class="menu p-0">
      <li *ngFor="let route of routes">
        <a class="d-flex" [routerLink]="route.path" routerLinkActive="active">
          <div class="line mr-1"></div>
          <h6 class="m-0 p-3 text-dark">
            <i class="fas fa-fw animate" [ngClass]="route.icontype"></i>{{route.title}}</h6>
        </a>
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <button (click)="signOut()" class="btn btn-orange text-light text-light d-flex ml-auto mr-auto">
      <i class="material-icons mr-2">exit_to_app</i> Log Out</button>
  </div>
</section>