<div class="table-container">
  <table class="table table-hover w-100 rounded table-striped text-center m-0">
    <thead>
      <tr>
        <th>#</th>
        <th>SERIAL NO</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th *ngIf="queryParams.group == 'employees' || queryParams.group == 'customers'">ROLE</th>
        <th>CONTACT</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{(i + 1) + ((pageEvent.pageIndex + 1) * pageEvent.pageSize) - pageEvent.pageSize}}</td>
        <td>
          <a routerLink="view" class="text-danger" [queryParams]="{id: user.id}">
            {{user.serial_no}}
          </a>
        </td>
        <td>{{user.name | ucwords}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="queryParams.group == 'employees' || queryParams.group == 'customers'">{{user.getRole() | ucfirst}}</td>
        <td>{{user.details.contact}}</td>
        <td>
          <button class="action border-0 btn btn-outline-info btn-sm" title="Change password" (click)="changePassword(user.id)">
            <i class="fas fa-fw fa-lock"></i>
          </button>
          <a class="action border-0 btn btn-outline-warning btn-sm" title="Update" routerLink="edit" [queryParams]="{id: user.id}">
            <i class="fas fa-fw fa-wrench"></i>
          </a>
          <button class="action border-0 btn btn-outline-danger btn-sm" title="Delete" (click)="deleteUser(user.id)">
            <i class="fas fa-fw fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0" *ngIf="users.length == 0 && !loading">
    <strong>No users found!</strong>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light mb-0" *ngIf="loading">
    <strong>Loading...</strong>
  </div>
  <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="getPage($event)"></mat-paginator>
</div>


<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Change password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordForm">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [ngClass]="password.valid ? 'is-valid' : 'is-invalid'" id="password" formControlName="password"
              placeholder="Eg: boiledcabbage">
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirm password</label>
            <input type="password" class="form-control" [ngClass]="password_confirmation.valid ? 'is-valid' : 'is-invalid'" id="password_confirmation"
              formControlName="password_confirmation" placeholder="Eg: boiledcabbage">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="m-0 mr-2 alert alert-danger" *ngIf="password_confirmation.errors?.MatchPassword">Password not match</div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>