<div class="table-container">
  <table class="table table-hover w-100 rounded table-striped text-center m-0">
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th *ngIf="type == 'employees' || type == 'customers'">ROLE</th>
        <th>CONTACT</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: config; let i = index">
        <td>{{user.serial_no}}</td>
        <td>{{user.name | ucwords}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="type == 'employees' || type == 'customers'">{{user.getRole() | ucfirst}}</td>
        <td>{{user.details.contact}}</td>
        <td>
          <a class="action border-0 btn btn-outline-primary btn-sm" title="More info" routerLink="view" [queryParams]="{id: user.id}">
            <i class="fas fa-fw fa-info"></i>
          </a>
          <button class="action border-0 btn btn-outline-info btn-sm" title="Change password" (click)="changePassword(user.id)">
            <i class="fas fa-fw fa-lock"></i>
          </button>
          <a class="action border-0 btn btn-outline-warning btn-sm" title="Update" routerLink="edit" [queryParams]="{id: user.id}">
            <i class="fas fa-fw fa-wrench"></i>
          </a>
          <button class="action border-0 btn btn-outline-danger btn-sm" title="Delete" (click)="deleteUser(user.id)">
            <i class="fas fa-fw fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light" *ngIf="users.length == 0 && !loading">
    <strong>No users found!</strong>
  </div>
  <div class="alert alert-primary text-center rounded-0 border-0 text-light" *ngIf="loading">
    <strong>Loading...</strong>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
  </div>
</div>
