<ng-container [formGroup]="particularForm">
  <div class="col-lg-3">
    <ng-select id="make" [items]="brands" formControlName="make" placeholder="Select Make"></ng-select>
  </div>
  <div class="col-lg-4">
    <ng-select id="make" [items]="getModels()" bindLabel="model" bindValue="id" formControlName="vehicle_id" placeholder="Select Model"></ng-select>
  </div>
  <div class="col-lg-3 d-flex align-items-end">
    <mat-form-field class="w-100">
      <input matInput placeholder="Quantity" formControlName="quantity">
    </mat-form-field>
  </div>
  <ng-content></ng-content>
</ng-container>