<ng-container [formGroup]="particularForm">
  <td>
    <mat-form-field class="w-100">
      <input placeholder="Select Vehicle Make" matInput [matAutocomplete]="makeAuto">
      <mat-autocomplete #makeAuto="matAutocomplete" (optionSelected)="optionSelected($event, 'make')">
        <mat-option *ngFor="let brand of brands" [value]="brand">
          {{brand}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="w-100">
      <input placeholder="Select Vehicle Model" [disabled]="make.invalid" id="model" matInput [matAutocomplete]="modelAuto">
      <mat-autocomplete #modelAuto="matAutocomplete" (optionSelected)="optionSelected($event, 'vehicle_id')" [displayWith]="displayFn">
        <mat-option *ngFor="let model of getModels()" [value]="model">
          {{model.model}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </td>
  <td>

  </td>
  <td>
    <mat-form-field>
      <input matInput placeholder="Quantity" formControlName="quantity">
    </mat-form-field>
  </td>
  <ng-content></ng-content>
</ng-container>