<section class="container">
  <div class="header d-flex align-items-center">
    <h4 class="text-grey-dark m-0">User Management</h4>
    <div class="ml-auto">
      <a class="btn btn-primary" routerLink="edit" [queryParams]="{type: 'new'}"><i class="fas fa-user-plus mr-2"></i>New
        User
      </a>
    </div>
  </div>
  <div class="content mt-4">
    <nav mat-tab-nav-bar>
      <ng-container *ngIf="loggedUser.role == 'manufacturer' || loggedUser.role == 'admin'">
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('employees')" routerLinkActive #employees="routerLinkActive"
          [active]="employees.isActive">
          <strong>Employees</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('customers')" routerLinkActive #customers="routerLinkActive"
          [active]="customers.isActive">
          <strong>Customers</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('manufacturer')" routerLinkActive #manufacturer="routerLinkActive"
          [active]="manufacturer.isActive">
          <strong>Manufacturers</strong>
        </a>
        <a *ngIf="loggedUser.role == 'admin'" mat-tab-link routerLink="../" [queryParams]="getQueryParams('admin')" routerLinkActive #admin="routerLinkActive"
          [active]="admin.isActive">
          <strong>Administrators</strong>
        </a>
      </ng-container>
      <ng-container *ngIf="loggedUser.role == 'sales'">
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('distributor')" routerLinkActive #distributor="routerLinkActive"
          [active]="distributor.isActive">
          <strong>Distributor</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('dealer')" routerLinkActive #dealer="routerLinkActive" [active]="dealer.isActive">
          <strong>Dealer</strong>
        </a>
      </ng-container>
      <ng-container *ngIf="loggedUser.role == 'human_resource'">
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('store_purchases')" routerLinkActive #store_purchases="routerLinkActive"
          [active]="store_purchases.isActive">
          <strong>Store Purchases</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('store_dispatch')" routerLinkActive #store_dispatch="routerLinkActive"
          [active]="store_dispatch.isActive">
          <strong>Dispatch</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('store_logistics')" routerLinkActive #store_logistics="routerLinkActive"
          [active]="store_logistics.isActive">
          <strong>Logistics</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('accounts')" routerLinkActive #accounts="routerLinkActive"
          [active]="accounts.isActive">
          <strong>Accounts</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('sales')" routerLinkActive #sales="routerLinkActive" [active]="sales.isActive">
          <strong>Sales</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('human_resource')" routerLinkActive #human_resource="routerLinkActive"
          [active]="human_resource.isActive">
          <strong>Human Resource</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('plant_manager')" routerLinkActive #plant_manager="routerLinkActive"
          [active]="plant_manager.isActive">
          <strong>Plant Manager</strong>
        </a>
        <a mat-tab-link routerLink="../" [queryParams]="getQueryParams('plant_supervisor')" routerLinkActive #plant_supervisor="routerLinkActive"
          [active]="plant_supervisor.isActive">
          <strong>Plant Supervisor</strong>
        </a>
      </ng-container>
    </nav>
    <user-table></user-table>
  </div>
</section>